@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

/* Reset some default */
body {
    margin: 0;
    padding: 0 20px;
    background-color: #F5F8FF;
    box-sizing: content-box;
  }
  
  /* Heading */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    color: #000000;
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 65px;
  }

  h2 {
    font-size: 50px;
  }
  
  span {
    color: #E95A08;
  }
  .btn-primary{
        padding: 20px 30px;
        width: 100%;
        background-color: #E95A08;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
  }
  /* Paragraph */
  p {
    font-size: 22px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
  }
  
  /* nav css */

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container{
    max-width: 1140px;
    margin: 0 auto;
  }

  nav ul{
    display: flex;
    gap: 30px;
    margin: 0;
    list-style: none;
  }

  nav ul li a{
    font-size: 22px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
  }

  ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 22px;
  }
  
  ul li a:hover, ul li a:active{
    color: #000000;
  }

  ul li:last-child a{
    color: #000000;
  }

  /* banner css */

.bannar{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-content h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Our Plants section */

.our-plants{
    text-align: center;
    margin-top: 100px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.card{
    text-align:  center;
}
.card h4, .card h3{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}
.card h3{ margin-top: 15px;}
.card h4{
    font-weight: bold;
    margin: 5px 0px 30px 0px;
}



/* Planet lover css */

.flower-planet-cols{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 100px;
}
.flower-planet-col{
    max-width: 50%;
    position: relative;
}
.badge-position{
}
.planet-img img{
    width: 100%;
}

.flower-badge img{
position: absolute;
top: -140px;
right: -90px;
}

.planet-right-col h2{

}

.planet-right-col ul {
    margin-left: 10px;
}
.planet-right-col ul li {
    font-size: 22px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 576px) {

    /* global CSS for max-width 576px */
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      h1, h2{
        font-size: 24px !important;
        line-height: 34px !important;
      }
      h3, h4{
        font-size: 16px !important;
        line-height: 26px;
      }
      p{ 
        font-size: 14px !important;
        line-height: 24px !important;
      }
    .btn-primary{
        font-size: 16px !important;
        line-height: 26px !important;
        padding: 12px 15px !important;
    }

      nav ul {
        justify-content: space-between;
        padding: 0 !important;
        margin: 0;
      }
      nav ul li a{ font-size: 18px;}
    
      nav ul li:not(:last-child) {
        display: none;
      }
    
      .bannar {
        flex-direction: column-reverse;
        margin-top: 20px;
        width: 100%; 
      }
    
      .bannar-content h1{
        margin-top: 20px;
      }


      /* Our plant responsive css */
      .cards{ 
        grid-template-columns: repeat(2, 1fr);
      }

      .card h4{
        margin: 0px 0px 15px 0px;
      }
 

      /* planet responsive css */
      .flower-planet-cols {
        display: block;
        margin-top: 80px;
      }
      .flower-planet-col{
        max-width: 100%;
      }
      .flower-badge {
        display: none;
      }

      .planet-right-col{
        margin-top: 20px;
      }
      .planet-right-col ul { margin-left: 0px; padding-left: 20px;}
}